@page "/"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using HearYe.Client.Data
@inject IHearYeService service
@attribute [Authorize]

<PageTitle>Hear Ye</PageTitle>

<h1>New Messages</h1>
<div>
    <textarea placeholder="Write a new message" />
    <label for="OldDate">Old on:</label>
    <input type="date" id="OldDate" />
    <button>Post</button>
</div>

<div>
    <span>PostDate</span>
    <div>
        <div>
            <div>
                <span>UserImage</span>
                <span>User.DisplayName says:</span>
            </div>
            <p>
                Post.Message
            </p>
            <p>
                Old news on: Post.StaleDate
            </p>
        </div>
        <div>
            <button>AcknowledgeButton</button>
            <span>Acknowledged by Acknowledgements.Where(acknowledgement => acknowledgement.postid == post.id).Count() person/people.</span>
        </div>
    </div>
</div>

@code
{
    protected async override Task OnParametersSetAsync()
    {
        var bleh = await service.GetUsersAsync();
    }
}