* {
    font-family: 'Segoe UI', 'SegoeUI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html, body {
    background-color: #ecf0f5;
    color: #333;
}

.OkSvg1 {
    height: 1em;
}

.OkSvg2 {
    height: 2em;
}