* {
    font-family: 'Segoe UI', 'SegoeUI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html, body {
    background-color: #ecf0f5;
    color: #333;
}

.OkSvg1 {
    height: 1em;
}

.OkSvg2 {
    height: 2em;
}

.w-sm-75
{
    width: 100%;
}

.w-md-75 {
    width: 100%;
}

@media(min-width: 576px)
{
    .w-sm-75
    {
        width: 75%;
    }
}

@media(min-width: 768px) {
    .w-md-75 {
        width: 75%;
    }
}