@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager Navigation

<div class="dropdown ms-lg-5">
    <button class="btn btn-outline-secondary dropdown-toggle border-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        @UserName
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item disabled" role="button">Account Settings</a></li>
        <li><a class="dropdown-item" role="button" @onclick="BeginLogOut">Log Out</a></li>
    </ul>
</div>

@code {
    [Parameter]
    public string? UserName { get; set; }

    public void BeginEditProfile()
    {
        Navigation.NavigateToLogout("authentication/profile");
    }

    public void BeginLogOut()
    {
        UriBuilder builder = new(Navigation.ToAbsoluteUri("landing"));
        string newPath = QueryHelpers.AddQueryString(builder.ToString(), "logoutSuceeded", "true");
        Navigation.NavigateToLogout("authentication/logout", newPath);
    }
}
