<div class="d-flex flex-column w-xlonly-100 align-items-center text-center p-2 mt-2 mb-2 gap-0">
    <span>
        © @DateTime.Now.Year Stephan Santos
    </span>
    <span>
        All rights reserved
    </span>
    <small>
        <a href="/privacy">Privacy Policy</a>
        <span> • </span>
        <a href="/tos">Terms of Service</a>
    </small>
</div>