<div style="overflow:hidden; position:absolute; z-index:-1; width:100vw; height:100vh">
    <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="min-height:100vh; min-width:100vw">
        <defs>
            <pattern id="trash" viewBox="0,0,1024,1024" width="10%" height="10%">
                <g transform="scale(0.7,0.7) rotate(45, 260, 400)">
                    <path fill="@FillColor" d="M487.212,381.438c-71,8.859-161.718-62.219-161.718-194.875c0-101.594-58.031-124.406-58.031-124.406V16.531
			h-22.922v45.625c0,0-58.047,26.969-58.047,124.406c0,132.656-90.703,203.734-161.703,194.875
			c-33.188-4.125-24.891,8.297-20.75,24.875c4.156,16.594,42.391,48.813,103.656,37.313c47.031-8.813,81.469-40.531,102.031-74.5
			c-5.547,49.063-6,126.344,46.281,126.344c52.266,0,51.813-77.313,46.266-126.344c20.547,33.969,55,65.688,102.016,74.5
			c61.281,11.5,99.5-20.719,103.656-37.313C512.103,389.734,520.399,377.313,487.212,381.438z" />
                </g>
                <g transform="translate(532,68) scale(0.7,0.7) rotate(315, 120, 180)">
                    <path fill="@FillColor" d="M267.6 21.32h-1.1c-7.2.4-14.6 3.51-20.1 9.59l-2.6 84.59 13.2.6 25.8-90.49c-3.7-2.67-8.7-4.21-14-4.33h-1.2zM227 74.88c-40.2 1.1-78.3 9.54-107.1 25.62-32.88 18.4-53.76 45.5-54.82 85.4 38.22-9.9 70.42-17.5 101.32-16.1 31.7 1.3 61.8 12.5 94.2 38.2 27-34.8 59.1-49.7 94.1-48.7 33.2.9 54.1 5.6 92.2 25.3-6.4-31.2-15-48.1-47.9-68.1-31.2-19-71.1-32.11-112.5-38.09l-10.7 37.49c7.5-1.2 15.1-2.6 22.9-4l3.2 17.8c-17 3-34.8 6.8-52.5 6.9-17.8 0-36-4.1-51.5-17.1l11.6-13.8c5.2 4.3 10.6 7.4 16.2 9.4zM342 177.6c-26.9 2.4-50.1 16.1-72.4 48.2l-5.7 8.2-7.5-6.4c-33.2-28.2-60.5-38.5-90.7-39.8 32.3 43.9 43.8 96.7 41.6 144.3-1.8 38.8-12 74.5-28.6 100 9 3.8 18.3 7.1 27.2 8.8 18.5 3.7 34.6 1.9 48.6-13.2l5.5-5.9 6.5 4.8c17.3 12.9 34.7 12.5 53.8 6.1 8.9-3 18-7.3 27-12.3-38.8-79.2-41.2-160.9-5.3-242.8zm-57.3 93.3s19.2 23.7 17 37.2c-.8 5.2-5.5 11.2-10.7 11.5-7 .4-14.1-6.9-16.2-13.6-3.5-11.6 9.9-35.1 9.9-35.1zm-41.1 3.2s13.7 26.2 9 38.6c-1.9 4.8-7.5 9.6-12.5 8.8-6.7-.9-12.1-9.3-12.7-16.1-1.1-11.7 16.2-31.3 16.2-31.3zm135.6 148.2c-15.8 9.9-33.8 21.1-53.3 27.5-20.3 6.7-43 7.6-63.8-4.7-17.7 15.2-39.7 17.5-59.7 13.5-20.7-4.1-40.2-13.9-56.2-22.2-20.2 7.9-42.2 11.2-73.91 10.8 16.3 11.7 38.71 21.4 64.91 28.5 37.2 10 81.6 15 125.4 15 43.7-.1 86.9-5.2 121.7-14.9 25.3-7 45.8-16.7 59.2-27.6-10.8-.2-19.9.1-29.1-1.7-12.3-2.3-23.6-9.3-35.2-24.2z" />
                </g>
                <g transform="translate(64,456) scale(0.8,0.8) rotate(334, 300, 380)">
                    <path style="fill:@FillColor;" d="M218.07,187.911l-6.096,7.43c-1.301,1.593-31.417,39.318-18.948,101.282h-7.519V218.8
			c0-6.73-5.462-12.193-12.193-12.193c-6.73,0-12.193,5.462-12.193,12.193v77.823h-13.941v-64.703
			c0-6.73-5.462-12.193-12.193-12.193s-12.193,5.462-12.193,12.193v64.703h-16.444v-38.042c0-6.73-5.462-12.193-12.193-12.193
			s-12.193,5.462-12.193,12.193v38.042h-0.382c-2.341-5.186-5.471-10.088-9.462-14.453l-47.577-51.974
			C4.662,208.477-4.751,213.776,2.598,242.3c7.251,28.133,14.591,59.891,14.591,73.133c0,13.42-7.535,46.504-14.883,75.547
			c-7.218,28.556,3.016,34.53,23.719,13.591l44.61-45.138c4.926-4.983,8.673-10.746,11.323-16.907v32.921
			c0,6.73,5.462,12.193,12.193,12.193s12.193-5.462,12.193-12.193v-38.172h16.444v64.842c0,6.73,5.462,12.193,12.193,12.193
			s12.193-5.462,12.193-12.193v-64.842h13.941v81.627c0,6.73,5.462,12.193,12.193,12.193s12.193-5.462,12.193-12.193v-81.635h19.752
			c1.024,2.495,1.992,4.78,2.853,6.787c4.893,11.372,4.893,11.372-1.479,21.102c-21.89,33.498-7.056,68.337,5.17,83.635l6.096,7.641
			h9.779c23.922,0,52.958-0.016,83.237-4.04v-20.427v-20.435V231.204v-20.541v-20.541c-22.354-2.26-42.854-2.284-58.835-2.284
			L218.07,187.911z" />
                    <path style="fill:@FillColor;" d="M351.565,196.885v20.882v21.199v163.124v21.183v21.021
			c52.316-14.323,103.282-45.569,133.642-113.865l3.284-7.381l-2.682-7.625C459.472,240.593,404.718,209.68,351.565,196.885z
			 M429.86,301.898c0,12.868-10.437,23.305-23.305,23.305c-12.868,0-23.305-10.437-23.305-23.305
			c0-12.868,10.437-23.305,23.305-23.305C419.423,278.594,429.86,289.023,429.86,301.898z" />
                </g>
                <g transform="translate(558,456) scale(5,5) rotate(28, 35, 45)">
                    <path fill="@FillColor" d="M77.45,57.691v-3.16V35.563V16.595c0-1.736-1.421-3.16-3.16-3.16H11.066
		c-1.739,0-3.167,1.417-3.167,3.16v18.968v18.968v3.16L0,67.175c0,2.613,2.122,4.738,4.738,4.738H80.61
		c2.613,0,4.738-2.126,4.738-4.738L77.45,57.691z M49.002,70.339H36.358c-0.437,0-0.791-0.351-0.791-0.791s0.354-0.791,0.791-0.791
		h12.644c0.437,0,0.791,0.351,0.791,0.791C49.785,69.988,49.438,70.339,49.002,70.339z M29.644,67.179l2.412-2.895h21.233
		l2.416,2.895H29.644z M73.001,52.101c0,1.525-1.242,2.759-2.759,2.759H15.106c-1.514,0-2.756-1.245-2.756-2.759V19.032
		c0-1.525,1.242-2.759,2.756-2.759h19.87l11.227,5.834L31.455,38.057l18.478,14.169l-7.695-19.354l12.816-6.166L51.07,16.269h19.172
		c1.517,0,2.759,1.242,2.759,2.759V52.101L73.001,52.101z" />
                </g>
                <animateTransform attributeName="patternTransform" type="translate" by="100 -100" dur="30s" repeatCount="indefinite"></animateTransform>
            </pattern>
        </defs>

        <rect width="100%" height="100%" fill="url(#trash)" />
    </svg>
</div>

@code {
    [Parameter]
    public string FillColor { get; set; } = "#000000";
}
