@inherits LayoutComponentBase
@using HearYe.Client.Data

<div class="page">
    <CascadingValue Value="@state">
        <NavMenu />
        <main>
            <article>
                @Body
            </article>
        </main>
    </CascadingValue>
</div>

@code
{
    private StateContainer state = new ();
}