@inject IHttpClientFactory Factory
@inject HttpClient Http
@inherits LayoutComponentBase

<div class="page">
    <!--if attempts == 0, Loading...-->
    @if (apiAwake)
    {
       <NavMenu />
        <main>
            <article>
                @Body
            </article>
        </main>
        <Footer />
    }
    else if (cantWakeUp)
    {
        <div>
            Can't wake up! Try again another time.
        </div>
    }
    else if (!waiting)
    {
        <div />
    }
    else
    {
        <div>
            I'm waking up!
        </div>
    }
</div>

@code
{
    private bool apiAwake = false;
    private bool waiting = false;
    private bool cantWakeUp = false;

    protected override async Task OnInitializedAsync()
    {
        var httpClient = Factory.CreateClient("HearYe.ServerAPI.HealthCheck");
        await DoHealthCheck(httpClient);
    }

    private async Task DoHealthCheck(HttpClient httpClient)
    {
        try
        {
            // Display waiting screen after 3 seconds of no response.
            await DisplayWakeScreen(3);
            var healthCheck = await httpClient.GetAsync("healthcheck");
            var healthCheckBody = await healthCheck.Content.ReadAsStringAsync();

            if (healthCheckBody == "Healthy")
            {
                apiAwake = true;
            }
            else if (waiting == true)
            {
                cantWakeUp = true;
            }

            StateHasChanged();
        }
        catch(HttpRequestException)
        {
            // Swallow http exception.
            StateHasChanged();
        }
    }

    private async Task DisplayWakeScreen(int waitTimeInSeconds)
    {
        await Task.Delay(TimeSpan.FromSeconds(waitTimeInSeconds));
        waiting = true;
        StateHasChanged();
    }
}