@using HearYe.Client.Data
@using HearYe.Shared;
@inject IHearYeService Service
@inject StateContainer State

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">@modalTitle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="CloseModal"></button>
    </div>
    <div class="modal-body">
        @if (displayError)
        {
            <p>Error loading user list. Please try again later.</p>
        }
        else if (userList is not null && userList.Any())
        {
            <ul class="list-group">
                @foreach (var user in userList)
                {
                    <li class="list-group-item">
                        <strong>@user.UserName</strong> <span class="text-muted">(ID: @user.UserId)</span>
                    </li>
                }
            </ul>
        }
        else
        {
            <ul class="list-group placeholder-glow">
                <li class="list-group-item placeholder"></li>
                <li class="list-group-item placeholder"></li>
                <li class="list-group-item placeholder"></li>
                <li class="list-group-item placeholder"></li>
            </ul>
        }
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="CloseModal">Close</button>
    </div>
</div>

@code {
    private string modalTitle = "Loading...";
    private bool displayError = false;
    private IEnumerable<MessageGroupMemberWithName>? userList;

    protected override async Task OnParametersSetAsync()
    {
        if (State.ModalIsOpen && State.MembersModalId > 0)
        {
            userList = await Service.GetMessageGroupMembersAsync(State.MembersModalId);

            if (userList is null)
            {
                displayError = true;
            }

            if (State.UserGroups is not null)
            {
                MessageGroup? group = State.UserGroups.Where(g => g.Id == State.MembersModalId).FirstOrDefault();
                if (group is not null)
                {
                    modalTitle = group.MessageGroupName + " members";
                }
                else
                {
                    modalTitle = "Group members";
                }
            }

            StateHasChanged();
        }
    }

    protected override void OnInitialized()
    {
        State.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        State.OnChange -= StateHasChanged;
    }

    private void CloseModal()
    {
        State.MembersModalId = 0;
        State.ModalIsOpen = false;
    }
}
