@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<AuthorizeView>
    <Authorized>
        <nav class="navbar bg-white p-2 border-bottom border-2">
            <div class="container-lg">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <div class="d-flex gap-2 align-items-center col-lg-4">
                        <img src="OKHand1.svg" class="fs-3 OkSvg1" />
                        <span class="fs-3 me-3">
                            <strong>Okay</strong>
                        </span>
                        <GroupDropDown />
                    </div>
                    <PostTypeSelector />
                    <AccountDropDown UserName="@context.User.Identity?.Name" />
                </div>
            </div>
        </nav>
    </Authorized>
</AuthorizeView>