@using HearYe.Client.Data
@using HearYe.Shared
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject IHearYeService Service
@inject StateContainer State
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <nav class="navbar bg-white p-2 border-bottom border-2">
            <div class="container-lg">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <div class="d-flex gap-2 align-items-center">
                        <img src="OKHand1.svg" class="fs-3 OkSvg1" />
                        <span class="fs-3 me-3">
                            <strong>Okay</strong>
                        </span>
                        <GroupDropDown />
                    </div>
                    <div class="d-flex gap-2 me-lg-5">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" role="button">New</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" role="button">Acknowledged</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" role="button">Old</a>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown ms-lg-5">
                        <button class="btn btn-outline-secondary dropdown-toggle border-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @context.User.Identity?.Name
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item disabled" role="button">Account Settings</a></li>
                            <li><a class="dropdown-item" role="button" @onclick="BeginLogOut">Log Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </Authorized>
</AuthorizeView>

@code
{
    protected override void OnInitialized()
    {
        State.OnChange += StateHasChanged;
        State.OnChange += InitializeState;
    }

    public void Dispose()
    {
        State.OnChange -= StateHasChanged;
        State.OnChange -= InitializeState;
    }

    private async void InitializeState()
    {
        if (State is not null && State.UserGroups is null && State.UserDbId is not null)
        {
            var userGroups = await Service.GetUserMessageGroupsAsync(State.UserDbId);
            State.UserGroups = userGroups;

            var firstGroup = userGroups?.FirstOrDefault();
            if (firstGroup is not null)
            {
                State.ActiveGroupId = firstGroup.Id;
                State.ActiveGroupName = firstGroup.MessageGroupName;

                var activeGroupPosts = await Service.GetNewPostsAsync(firstGroup.Id.ToString());
                State.PostCollection = activeGroupPosts;
            }
        }
    }

    public void BeginLogOut()
    {
        UriBuilder builder = new(Navigation.ToAbsoluteUri("landing"));
        string newPath = QueryHelpers.AddQueryString(builder.ToString(), "logoutSuceeded", "true");
        Navigation.NavigateToLogout("authentication/logout", newPath);
    }
}

